* {
    margin:0px;
    padding:0px;
    border:none 0px;
}
body {
    background-color:#015a01;
    color:#a80000;
}

div#header {
    background-color:#00a760;
    
    width:50%;
    max-width:100mm;
    margin:10mm;
    margin-left:auto;
    margin-right:auto;
    padding:5mm;
    
    font-family:serif;
    font-size:10mm;
    text-align:center;
    
    border-radius:4mm;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2);
}

div#content {
    background-color:#00be00;
    
    min-height:40mm;
    width:80%;
    max-width:180mm;
    margin:10mm;
    margin-left:auto;
    margin-right:auto;
    
    border-radius:4mm;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2);
}

div#content div {
    padding:10mm;
}
div#content img {
    width:100%;
}
